---
import LinkButton from '../components/LinkButton.astro';
import ColeccionesCard from '../components/Home/ColeccionesCard.astro';
import LanzamientosCard from '../components/Home/LanzamientosCard.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/styles.css'

interface PisoData {
   image             : string
   name              : string
}

interface ColeccionData {
   classImage        : string
   text              : string
}

const pisosData: PisoData[] = [
   { 
      image          : '/pisos/calacata_oro_ac.jpg', 
      name           : 'Calacata Oro' 
   },
   { 
      image          : '/pisos/salento_nude_pl.jpg', 
      name           : 'Salento' 
   },
   { 
      image          : '/pisos/bellagio_classic_pl.jpg', 
      name           : 'Bellagio Classic' 
   },
   { 
      image          : '/pisos/moby_perola_ac.jpg', 
      name           : 'Mobby Pérola' 
   },
   { 
      image          : '/pisos/egeo_grey_pl.jpg', 
      name           : 'Egeo Gray' 
   },
   { 
      image          : '/pisos/calacata_light_ac.jpg', 
      name           : 'Calacata Light' 
   }
]

const coleccionesData: ColeccionData[] = [
   { 
      classImage     : 'coleccion-1', 
      text           : 'La esencia de la construcción es la inspiración detrás de la colección Ciudad. Creada para ofrecer la dinámica de la modernidad como elemento clave en la decoración.', 
   },
   { 
      classImage     : 'coleccion-2', 
      text           : 'La bella y tradicional madera fusionada con la tecnología del porcelánico dan vida a la colección Bosque. El efecto rústico permite transformar el ambiente en un lugar acogedor con recuerdos atemporales.', 
   },
   { 
      classImage     : 'coleccion-3', 
      text           : 'La colección Palacio utiliza tecnología digital para capturar la belleza natural y la elegancia expresiva del mármol clásico. Símbolo de sofisticación y refinamiento en la decoración, imponentes realzar el estilo de la arquitectura antigua.', 
   }
]

---

<Layout title="DecoStudio">
	<main>
		<section>
			<div class='lanzamientos-banner h-[400px]'></div>
			<div class='bg-black flex flex-col items-center py-12'>
				<h2 class='text-neutral-400 text-3xl font-semibold tracking-wide'>LANZAMIENTOS</h2>
				<div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 mt-8 gap-4 max-w-[1100px] md:px-12 sm:px-32 px-8'>
					{
						pisosData.map((piso: PisoData) => (
							<LanzamientosCard
								image={ piso.image }
								name={ piso.name }
							/>
						))
					}
				</div>
			</div>
		</section>
		<section>
			<div class='bg-neutral-300 flex flex-col items-center py-12'>
				<h2 class='text-neutral-800 text-3xl font-semibold tracking-wide'>COLECCIONES</h2>
				<div class='grid grid-cols-1 lg:grid-cols-3 gap-2 mt-8 max-w-[1100px] lg:px-12 sm:px-24 px-4'>
					{
						coleccionesData.map((piso: ColeccionData) => (
							<ColeccionesCard
								classImage={ piso.classImage }
								text={ piso.text }
							/>
						))
					}
				</div>
			</div>
		</section>
		<section  class='lanzamientos-resumen-final'>
			<div class='flex flex-col items-center py-12'>
				<div class='grid grid-cols-2 max-w-[1100px] lg:px-12 sm:px-32 px-8'>
					<div class='md:col-span-1'></div>
					<div class='md:col-span-1 col-span-2 bg-white bg-opacity-85 p-5 my-24 flex flex-col items-end'>
						<span class='text-md text-right'>En busca de satisfacer las necesidades modernas, surge Deco Fusi&oacute;n, una nueva alternativa innovadora en el segmento de revestimientos y azulejos cer&aacute;micos con una gama exclusiva de diseños que buscan transformar vidas.</span>
						<LinkButton href='/nosotros' className='mt-3'>
							<span class='py-1 px-6 border-r-[1px] border-l-[1px] border-neutral-400'>Descubre m&aacute;s</span>
						</LinkButton>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

