---
import Layout from "../layouts/Layout.astro";
import { WishList } from "../components/WishListComponents/WishList"
---

<Layout title='DecoFusion - Lista de Deseos'>
   <section>
      <div class='max-w-[1100px] mx-auto lg:px-12 sm:px-16 px-6'>
         <WishList client:visible />
      </div>
   </section>
</Layout>